@mixin elr-spin() {
    animation: spinAround 9s linear infinite;

    @keyframes spinAround {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

@mixin elr-slide($config: ()) {
    $config: extend((
        final-height: 500px
    ), $config);

    $final-height: map-get($config, final-height);

    // cursor: pointer;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(0, 1.05, 0, 1), visibility .2s;

    &.active {
        max-height: to-rems($final-height);
        visibility: visible;
        transition: max-height .5s ease-in;
    }
}
