@mixin elr-fade($config: ()) {
    $config: extend((
        type: 'hide',
        speed: .3s
    ), $config);

    $type: map-get($config, type);
    $speed: map-get($config, speed);

    > .fade-item {
        transition: visibility $speed, opacity $speed;
        @if ($type == 'show') {
            visibility: hidden;
            opacity: 0;
        } @else if ($type == 'hide') {
            visibility: visible;
            opacity: 1;
        }
    }

    &.active,
    &:hover {
        > .fade-item {
            @if ($type == 'hide') {
                visibility: hidden;
                opacity: 0;
            } @else if ($type == 'show') {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
