@import "elr-scss-config/src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-base/src/main";
@import "src/main";

@include elr-reset;
@include elr-base;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: ($base-fontsize * 1.5);
}

.main-heading,
.subheading {
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 700;
}

.subheading {
  font-size: $base-fontsize * 1.5;
  font-weight: 900;
  color: $primary-color;
}

.demo-content {
  position: relative;
  padding: ($base-fontsize * 1.5) 0;
  display: flex;
}

.demo-box {
  position: relative;
  background-color: $primary-color;
  padding: 20px;
  margin: 20px;
  z-index: 0;

  > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    z-index: 1;
  }

  .fade-item {
    position: relative;
    z-index: 2;
    background-color: $white;
    color: $primary-color;
  }
}

.circle {
  background-color: $primary-color;
  color: $white;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  text-align: center;
  line-height: 200px;
  margin: 20px;
  color: $white;
}

.flipper-container {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.flipper-front {
  color: $white;
  background-color: $primary-color;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  text-align: center;
  line-height: 200px;

  p {
    color: $white;
  }
}

.flipper-back {
  background-color: $secondary-color;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  color: $white;
  text-align: center;
  line-height: 200px;

  p {
    color: $white;
  }
}

.slide-down {
  cursor: pointer;
  width: 200px;
  position: relative;

  button {
    display: block;
    background-color: $primary-color;
    padding: 10px;
    color: $white;
    border-radius: 5px;
    border: 0;
    transition: background-color 0.3s;

    &:hover {
      background-color: lighten($primary-color, 10%);
    }
  }
}

.drop-list {
  background-color: $secondary-color;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  position: absolute;
  top: 64px;
  width: 200px;
  z-index: 1;

  li {
    padding: 5px 10px;
    color: $white;
  }
}

.spin {
  @include elr-spin;
}

.spin-4s {
  @include elr-spin(
    $config: (
      speed: 4s,
    )
  );
}

.slide {
  @include elr-slide;
}

.fade-out {
  @include elr-fade();
}

.fade-in {
  @include elr-fade(
    $config: (
      type: show,
    )
  );
}

.flipper {
  @include elr-flipper;
}
